{% extends 'layouts/base.html' %}


{% block title %}Редактирование заказа{% endblock title %}


{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <div id="delete" class="container">
        <h3>Редактирование заказа</h3>
        <h4 id="warn">Вы собираетесеь редактировать заказ</h4>
        <ul id="params">
            <li>Наименование: {{ order.product.name }}</li>
            <li>Цена: {{ order.product.price }} uah</li>
            <li>Количество: {{ order.count }}</li>
        </ul>
        <br>
        <form id="form5" action="/basket/edit/{{ order.id }}" method="post">
            {% csrf_token %}
            <div>
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        <div>
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p style="margin-top: 30px">
                <input id="b1" type="submit" value="Сохранить" class="btn btn-success">
                <input id="b2" type="reset" value="Очистить" class="btn btn-success">
            </p>
        </form>
    </div>
{% endblock %}
